<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>body.png</key>
			<dict>
				<key>width</key>
				<integer>36</integer>
				<key>height</key>
				<integer>33</integer>
				<key>originalWidth</key>
				<integer>36</integer>
				<key>originalHeight</key>
				<integer>33</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>head.png</key>
			<dict>
				<key>width</key>
				<integer>75</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>75</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>38</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leftleg.png</key>
			<dict>
				<key>width</key>
				<integer>9</integer>
				<key>height</key>
				<integer>27</integer>
				<key>originalWidth</key>
				<integer>9</integer>
				<key>originalHeight</key>
				<integer>27</integer>
				<key>x</key>
				<integer>115</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leftwing.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>126</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>leftwing1.png</key>
			<dict>
				<key>width</key>
				<integer>42</integer>
				<key>height</key>
				<integer>78</integer>
				<key>originalWidth</key>
				<integer>42</integer>
				<key>originalHeight</key>
				<integer>78</integer>
				<key>x</key>
				<integer>170</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rightleg.png</key>
			<dict>
				<key>width</key>
				<integer>15</integer>
				<key>height</key>
				<integer>20</integer>
				<key>originalWidth</key>
				<integer>15</integer>
				<key>originalHeight</key>
				<integer>20</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rightwing.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>231</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>rightwing1.png</key>
			<dict>
				<key>width</key>
				<integer>60</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>60</integer>
				<key>originalHeight</key>
				<integer>83</integer>
				<key>x</key>
				<integer>293</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>elf10010.png</string>
			<key>realTextureFileName</key>
			<string>elf10010.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>